:root {
  --main-font: "League Spartan", sans-serif;
  --serif-font: "Playfair Display", serif;
  --dark: #0c142c;
  --light: #f5f5f5;
  --green: #82b418;
  --gray: #585d6b;
}

* {
  line-height: 1.6;
}

body,
html {
  font-family: var(--main-font);
  background: var(--light);
  color: var(--dark);
  font-size: 62.5%;
}

body {
  padding: 0 2.5rem;
}

body,
h1,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--green);
}

h1 {
  font-size: 2.8rem;
  font-weight: 400;
}

p {
  font-weight: 300;
}

.about-me,
.projects,
.contact {
  padding: 15rem 0;
}

/* global classes */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.serif-pars {
  font-family: var(--serif-font);
}

.box {
  border-radius: 10px;
}

.headline {
  font-size: 3.5rem;
  font-weight: 400;
}

.about-me > h1,
.projects > h1 {
  margin-bottom: 5rem;
}

/* header */
header {
  padding: 2.5rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

header nav li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header nav a {
  font-size: 2rem;
  font-weight: 200;
}

header nav a:hover {
  text-decoration: none;
}

/* hero: introduce yourself */
.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .green {
  color: var(--green);
}

.hero .contact-me {
  font-size: 2.8rem;
  color: var(--gray);
}

/* about me */
.about-me {
  border-top: 1px solid var(--dark);
  margin-top: 7rem;
}

.about-me .about {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
}

.about .sidebar {
  width: 100%;
  margin-bottom: 10rem;
}

.sidebar .headline {
  margin-bottom: 2rem;
}

.sidebar .resume {
  background-color: var(--dark);
  color: var(--light);
  font-size: 2rem;
  padding: 1rem 2.8rem;
  text-align: center;
  border-radius: 5rem;
  text-decoration: none;
  transition: 0.88s ease-out;
}

.about .resume:hover {
  background-color: var(--green);
  color: var(--dark);
  transition: 0.44s ease-in;
}

.about .description {
  width: 100%;
}

.about .description p {
  font-size: 2.4rem;
}

.about .description p + p {
  padding-top: 2.4rem;
}

.about-me .image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 2rem;
}

.about-me .image li {
  border-radius: 24px;
  object-fit: cover;
}

.about-me .palawan {
  background-image: url("https://i.ibb.co/wSmFsnj/profile.jpg");
  background-size: cover;
  background-position: center;
}
.about-me .la-union {
  background-image: url("https://i.ibb.co/GJy71xf/profile01.jpg");
  background-size: cover;
  background-position: center;
}
.about-me .laguna {
  background-image: url("https://i.ibb.co/12Ft9Ky/profile02.jpg");
  background-size: cover;
  background-position: center;
}

/* my projects */
.projects {
  border-top: 1px solid var(--dark);
}

.projects > section {
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
}

.projects > section:first-of-type {
  padding-top: 0;
}

.projects > section:last-child {
  padding-bottom: 0;
}

.projects img {
  width: 100%;
  border-radius: 24px;
}

.projects .details {
  padding: 2rem;
}

.projects .details h3 {
  font-size: 2rem;
  font-weight: 400;
}

.projects .details p {
  font-size: 2.8rem;
  padding: 2.8rem 0;
}

.projects .details a {
  font-size: 2rem;
  font-weight: 400;
  padding-right: 2rem;
}

/* Work Together */
.contact {
  border-top: 1px solid var(--dark);
}

.contact p {
  font-size: 2.5rem;
  padding: 4rem 0;
}

.contact ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 5rem;
}

.contact li h3 {
  font-weight: 200;
  padding-bottom: 1.2rem;
  margin: 0;
  font-size: 2rem;
}

.contact li a {
  font-size: 2rem;
  font-weight: 400;
}

/* footer */
footer {
  padding: 8rem 0;
  border-top: 1px solid var(--dark);
}

footer a {
  font-size: 2rem;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

footer li {
  display: flex;
  align-items: center;
}

footer > div {
  margin-top: 1.4rem;
  text-align: center;
}

footer > div span {
  font-size: 1.4rem;
}

/* media queries */
@media screen and (min-width: 650px) {
  .about-me .about {
    flex-direction: row;
  }

  .about .sidebar {
    width: 40%;
    margin-bottom: 0rem;
  }

  .about .description {
    width: 60%;
    padding-left: 5rem;
  }

  .about-me .image {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .contact ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5rem;
    row-gap: 5rem;
  }

  .contact li a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 900px) {
  .about-me .image {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects > section {
    flex-direction: row;
  }

  .projects .project-img {
    width: 60%;
  }

  .projects .details {
    width: 40%;
    padding: 2rem 4rem 4rem 4rem;
  }
}
